@main-color: #17AC5B;
@prefix: cg-combobox;

.@{prefix}-root {
  width: 100%;
  height: 100%;
}

.@{prefix}-text-input {
  display: inline-block;
  width: 80%;
  height: 100%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.@{prefix}-button {
  background-color: darkgreen;
  display: inline-block;
  height: 100%;
  width: 10%;
}